<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AdminApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C37F80C122A1269800BAFE40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C37F80D522A1269900BAFE40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C37F80E022A1269900BAFE40</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
